Demo_descendant/DEmo_Pretraitement_images.pptx
Demo_descendant/dataset
Demo_descendant/Images
Demo_descendant/cleaned_SIFT.csv
Brief_Prétraitement_Textes_Images.docx
cleaned.csv
Contraintes_Consignes_Conseils.docx